.navbar {
    margin-bottom: 20px;
}
.btn-no-style {
    border: none;
    background-color: transparent;
}

.exit {
    margin-bottom: 0;
}

.last-form-group {
    margin-bottom: 15px;
}

.form-qw {
    margin-bottom: 25px;
}

.header-inline {
    display: inline;
}

.icon {
    height: 25px;
    margin-bottom: 10px;
}
.back-link {
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.form-qw-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
